#kosaricaImg{
        
        width: 32px;
        height: 32px;
        margin: 0 10px;
   
}

#counterKosarica{
        display: flex;
        align-items: center;
}

.carousel-headline{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.carousel-paragraph{
    font-size: 25px;
    font-weight: bold;
}
.btn{
    width: 110px;
}
